.add-review form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-review form input, textarea{
    width: 40%;
    margin-bottom: 10px;
    border: 2px solid black;
}
.add-review form textarea{
    height: 200px;
}
.style {
    color : white;
    background-color: slategray;
    padding: 10px;
}